<!DOCTYPE html>
<html>
  <head>
    
    <title>{{title}} - Clinica Modelo</title>
   
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!--CSS propios -->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/styleconsultas.css' />
    <link rel='stylesheet' href='/stylesheets/styleindex.css' />
    <!--<link rel='stylesheet' href='/stylesheets/stylelogin.css' />-->
  </head>
  <body>
    {{> header}}  
    {{{body}}}
    {{> footer}}
     <!-- FONTAWESOME-->
    <script src="https://kit.fontawesome.com/4ceb941599.js" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>
