<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Agregar personal</h1>
        </div>
        <hr>
    </div>

    <form action="" method="post">
        <!--Nombre-->
        <div class="row text-center justify-content-around py-2">
            <div class="col-sm-4 col-md-4">
                <label for="nombre" class="col-form-label fw-bolder">Nombre</label> 
                <input class="form-control form-control-sm" type="text" id="nombre"  name="nombre" value="" placeholder="Nombre">
            </div>
        </div>
        
        <!--Apellido-->
        <div class="row text-center justify-content-around py-2">
            <div class="col-sm-4 col-md-4">
                <label for="apellido" class="col-form-label fw-bolder">Apellido</label> 
                <input class="form-control form-control-sm" type="text" id="apellido"  name="apellido" value="" placeholder="Apellido">
            </div>
        </div>

        <!--Especialidad-->
        <div class="row text-center justify-content-around py-2">
            <div class="col-sm-4 col-md-4">
                <label for="especialidad1" class="col-form-label fw-bolder">Seleccionar especialidad</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm" id="especialidad1" name="especialidad1">
                    <option value="0"selected>Seleccione</option>
                    {{#each selectorEsp}}
                        <option value="{{idEspecialidad}}">{{especialidad}}</option>";
                    {{/each}}
                </select>
            </div>
        </div>
        
        <!--Genero-->
        <div class="row text-center justify-content-around py-2">
            <div class="col-sm-4 col-md-4">
                <label for="genero" class="col-form-label fw-bolder">Seleccionar genero</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm" id="genero" name="genero">
                    <option value="1"selected>Seleccione</option>
                    <option value="0">Femenino</option>
                    <option value="1">Masculino</option>
                </select>
                </div>
        </div>

        <!--Boton de envio-->
        <div class="row text-center justify-content-around py-2 mt-2">    
            <div class="col-sm-4 col-md-4">
                <button type="submit" class="btn btn-success btn-md" value="Cargar Data">Agregar</button>
            </div>
        </div>
    </form>
     {{#if alta}}
        <p class="alert alert-success">
            Personal agregado correctamente
        </p>
    {{else}}
        <p class="alert alert-danger">
            {{error}}
        </p>    
    {{/if}}
</div>
